* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}
@keyframes fall {
  100% {
    transform: translateY(0);
  }
} 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
}
.first-container {
  background-image: url("../../assets/juback8.svg");
  background-size: cover;
}
.ss {
  width: 25%;
  filter: drop-shadow(5px 5px 5px #0470dc1a);
  border-radius: 20%;
}
.ss:hover {
  border: 10px white solid;
  transition: 300ms ease-out all;
}
.ss_text {
  width: 30%;
  font-size: 1vw;
}
.ss_text span {
  color: #0470dc;
}
.box1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  height: 95vh;
  width: 100vw;
}
footer {
  color: gray;
  font-size: 0.5vw;
  height: 10vh;
  width: 100vw;
  text-align: center;
  align-items: center;
}
@media all and (min-width: 1024px) { 
  .second-container,
.fourth-container {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(white, #0470dc1a);
}
.third-container,
.fifth-container {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#0470dc1a, white);
}
  .map {
    width: 20vw;
    overflow: visible;
    position: relative;
  }
  .map_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .loc1,
  .loc2,
  .loc3,
  .loc4 {
    width: 2.5vw;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
  }
  .loc1 {
    top: -1%;
    left: 44.5%;
  }
  .loc2 {
    top: 7%;
    left: 47.5%;
  }
  .loc3 {
    top: 62%;
    left: 44.5%;
  }
  .loc4 {
    top: 80%;
    left: 49%;
  }
  .locate1,
  .locate2,
  .locate3,
  .locate4 {
    width: 100%;
    height: 100%;
  }
  .locate1:hover,
  .locate2:hover,
  .locate3:hover,
  .locate4:hover {
    transform: scale(1.2);
  }
  .location1,
  .location2,
  .location3,
  .location4 {
    width: 30vw;
    height: 60vh;
    border-radius: 10vw;
    background-color: white;
    box-shadow: 4px 4px 2px 2px #e8f5ff;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    visibility: hidden;
    padding: 30%;
    font-size: 1vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .location1 {
    left: 30vw;
    top: 40vh;
  }
  .location2 {
    left: 29.5vw;
    top: 34vh;
  }
  .location3 {
    left: 30vw;
    top: -10vh;
  }
  .location4 {
    left: 29.1vw;
    top: -20vh;
  }
  .loc1:hover .location1 {
    visibility: visible;
    opacity: 1;
  }
  .loc2:hover .location2 {
    visibility: visible;
    opacity: 1;
  }
  .loc3:hover .location3 {
    visibility: visible;
    opacity: 1;
  }
  .loc4:hover .location4 {
    visibility: visible;
    opacity: 1;
  }
  .left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .intro {
    font-size: 1.2vw;
    width: 45%;
    margin-bottom: 5%;
    color: white;
    display: flex;
    justify-content: flex-start;
    -webkit-text-stroke: 0.02vw #0470dc;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) { 
  .second-container,
  .fourth-container {
    height: 55vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white, #0470dc1a);
  }
  .third-container,
  .fifth-container {
    height: 55vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#0470dc1a, white);
  }
  .map {
    width: 20vw;
    overflow: visible;
    position: relative;
  }
  .map_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .loc1,
  .loc2,
  .loc3,
  .loc4 {
    width: 3.5vw;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
  }
  .loc1 {
    top: -1%;
    left: 44.5%;
  }
  .loc2 {
    top: 7%;
    left: 47.5%;
  }
  .loc3 {
    top: 62%;
    left: 44.5%;
  }
  .loc4 {
    top: 80%;
    left: 49%;
  }
  .locate1,
  .locate2,
  .locate3,
  .locate4 {
    width: 100%;
    height: 100%;
  }
  .locate1:hover,
  .locate2:hover,
  .locate3:hover,
  .locate4:hover {
    transform: scale(1.2);
  }
  .location1,
  .location2,
  .location3,
  .location4 {
    width: 30vw;
    height: 60vh;
    border-radius: 10vw;
    background-color: white;
    box-shadow: 4px 4px 2px 2px #e8f5ff;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    visibility: hidden;
    padding: 30%;
    font-size: 1vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .location1 {
    left: 30vw;
    top: 40vh;
  }
  .location2 {
    left: 29.5vw;
    top: 34vh;
  }
  .location3 {
    left: 30vw;
    top: -10vh;
  }
  .location4 {
    left: 29.1vw;
    top: -20vh;
  }
  .loc1:hover .location1 {
    visibility: visible;
    opacity: 1;
  }
  .loc2:hover .location2 {
    visibility: visible;
    opacity: 1;
  }
  .loc3:hover .location3 {
    visibility: visible;
    opacity: 1;
  }
  .loc4:hover .location4 {
    visibility: visible;
    opacity: 1;
  }
  .left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .intro {
    font-size: 1.2vw;
    width: 45%;
    margin-bottom: 5%;
    color: white;
    display: flex;
    justify-content: flex-start;
    -webkit-text-stroke: 0.02vw #0470dc;
  }
}
@media all and (max-width: 767px) { 
  .second-container,
  .fourth-container {
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white, #0470dc1a);
  }
  .third-container,
  .fifth-container {
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#0470dc1a, white);
  }
  .map {
    width: 40vw;
    overflow: visible;
    position: relative;
  }
  .map_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .loc1,
  .loc2,
  .loc3,
  .loc4 {
    width: 7vw;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
  }
  .loc1 {
    top: -1%;
    left: 44.5%;
  }
  .loc2 {
    top: 7%;
    left: 47.5%;
  }
  .loc3 {
    top: 62%;
    left: 44.5%;
  }
  .loc4 {
    top: 80%;
    left: 49%;
  }
  .locate1,
  .locate2,
  .locate3,
  .locate4 {
    width: 100%;
    height: 100%;
  }
  .locate1:hover,
  .locate2:hover,
  .locate3:hover,
  .locate4:hover {
    transform: scale(1.2);
  }
  .location1,
  .location2,
  .location3,
  .location4 {
    width: 45vw;
    height: 60vh;
    border-radius: 10vw;
    background-color: white;
    box-shadow: 4px 4px 2px 2px #e8f5ff;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    visibility: hidden;
    padding: 30%;
    font-size: 1vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .location1 {
    left: 47vw;
    top: 30vh;
  }
  .location2 {
    left: 45vw;
    top: 25vh;
  }
  .location3 {
    left: 47vw;
    top: -5vh;
  }
  .location4 {
    left: 45vw;
    top: -15vh;
  }
  .loc1:hover .location1 {
    visibility: visible;
    opacity: 1;
  }
  .loc2:hover .location2 {
    visibility: visible;
    opacity: 1;
  }
  .loc3:hover .location3 {
    visibility: visible;
    opacity: 1;
  }
  .loc4:hover .location4 {
    visibility: visible;
    opacity: 1;
  }
  .left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .intro {
    font-size: 1.2vw;
    width: 45%;
    margin-bottom: 5%;
    color: white;
    display: flex;
    justify-content: flex-start;
    -webkit-text-stroke: 0.02vw #0470dc;
  }
}
