@media all and (min-width: 1024px) {
  body {
    background-image: url("../../assets/juback6.svg");
    background-size: cover;
  }
  header {
    width: 100vw;
    height: 8vh;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
  }
  .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    height: 92vh;
    width: 100vw;
  }
  .map {
    width: 20vw;
    overflow: visible;
    position: relative;
  }
  .map_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .loc1,
  .loc2,
  .loc3,
  .loc4 {
    width: 2.5vw;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
  }
  .loc1 {
    top: -1%;
    left: 44.5%;
  }
  .loc2 {
    top: 7%;
    left: 47.5%;
  }
  .loc3 {
    top: 62%;
    left: 44.5%;
  }
  .loc4 {
    top: 80%;
    left: 49%;
  }
  .locate1,
  .locate2,
  .locate3,
  .locate4 {
    width: 100%;
    height: 100%;
  }
  .locate1:hover,
  .locate2:hover,
  .locate3:hover,
  .locate4:hover {
    transform: scale(1.2);
  }
  .location1,
  .location2,
  .location3,
  .location4 {
    width: 30vw;
    height: 60vh;
    border-radius: 10vw;
    background-color: white;
    box-shadow: 4px 4px 2px 2px #e8f5ff;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    visibility: hidden;
    padding: 30%;
    font-size: 1vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .location1 {
    left: 30vw;
    top: 40vh;
  }
  .location2 {
    left: 29.5vw;
    top: 34vh;
  }
  .location3 {
    left: 30vw;
    top: -10vh;
  }
  .location4 {
    left: 29.1vw;
    top: -20vh;
  }
  .loc1:hover .location1 {
    visibility: visible;
    opacity: 1;
  }
  .loc2:hover .location2 {
    visibility: visible;
    opacity: 1;
  }
  .loc3:hover .location3 {
    visibility: visible;
    opacity: 1;
  }
  .loc4:hover .location4 {
    visibility: visible;
    opacity: 1;
  }
  .left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  p {
    font-size: 1.2vw;
    width: 45%;
    margin-bottom: 5%;
    color: white;
    display: flex;
    justify-content: flex-start;
    -webkit-text-stroke: 0.02vw #0470dc;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  body {
    visibility: hidden;
  }
}
@media all and (max-width: 767px) {
  body {
    background-image: url("../../assets/juback6.svg");
    background-size: cover;
  }
  .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    height: 92vh;
    width: 100vw;
  }
  .map {
    width: 50vw;
    overflow: visible;
    position: relative;
  }
  .map_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .loc1,
  .loc2,
  .loc3,
  .loc4 {
    width: 7vw;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
  }
  .loc1 {
    top: -1%;
    left: 44.5%;
  }
  .loc2 {
    top: 7%;
    left: 47.5%;
  }
  .loc3 {
    top: 62%;
    left: 44.5%;
  }
  .loc4 {
    top: 80%;
    left: 49%;
  }
  .locate1,
  .locate2,
  .locate3,
  .locate4 {
    width: 100%;
    height: 100%;
  }
  .locate1:hover,
  .locate2:hover,
  .locate3:hover,
  .locate4:hover {
    transform: scale(1.2);
  }
  .location1,
  .location2,
  .location3,
  .location4 {
    width: 40vw;
    height: 60vh;
    border-radius: 10vw;
    background-color: white;
    box-shadow: 4px 4px 2px 2px #e8f5ff;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    visibility: hidden;
    padding: 30%;
    font-size: 1vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .location1 {
    left: 50vw;
    top: 31vh;
  }
  .location2 {
    left: 50vw;
    top: 26vh;
  }
  .location3 {
    left: 50vw;
    top: -10vh;
  }
  .location4 {
    left: 50vw;
    top: -20vh;
  }
  .loc1:hover .location1 {
    visibility: visible;
    opacity: 1;
  }
  .loc2:hover .location2 {
    visibility: visible;
    opacity: 1;
  }
  .loc3:hover .location3 {
    visibility: visible;
    opacity: 1;
  }
  .loc4:hover .location4 {
    visibility: visible;
    opacity: 1;
  }
  .left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  p {
    font-size: 1.2vw;
    width: 45%;
    margin-bottom: 40%;
    color: white;
    display: flex;
    justify-content: flex-start;
    -webkit-text-stroke: 0.02vw #0470dc;
  }
}
